@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Major Mono Display", monospace;
    text-transform: lowercase;
}

nav {
  max-height: 4em;
}

.landing {
  /* Photo by Rodion Kutsaev on Unsplash */
  background-image: url(../images/rodion-kutsaev-unsplash1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #c6cbef;
  height: 85vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Major Mono Display", monospace;
}

.full-page-container {
  min-height: 70vh;
}

.section-container {
  max-width: 70%;
  margin: 5% auto;
}

.portfolio-container {
  margin: auto;
  max-width: 80%;
}

.portfolio-container > img {
  width: 100%;
}

/* .ghostDiv {
  display: block;
  padding: 20px;
  min-height: 85vh;
  width: 100%;
} */

footer {
  width: 100%;
  text-align: center;
}
